
body {
  color: #fff;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.h100 {
  height: 100%;
}

.box-title {
  font-size: 1.5vw;
}

.data-title {
  font-size: 1.2vw;
}

.data-content {
  font-size: 2.8vw;
}

.data-content-smaller {
  font-size: 1.8vw;
}

.splash-large {
  font-size: 5.0vw;
}

.text-orange {
  color: rgb(232, 78, 14);
}

.text-green {
  color: green;
}

.news-tagged {
  font-size: 1.5vw;
  background-color: green;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  border: 1px solid #000000;
}

.hr-top {
  border-top: 1px solid rgba(232, 78, 14, 1.0);
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 0;
}

.hr-emphasis {
  border-top: 5px solid rgba(232, 78, 14, 1.0);
  width: 2.5vw;
  margin-top: -10px;
  margin-bottom: 4px;
}

.hr-mid {
  border-top: 2px solid rgba(255,255,255,1.0);
  margin-left: 20%;
  margin-right: 20%;
}



/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * din-condensed:
 *   - http://typekit.com/eulas/0000000000000000000146b3
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-10-16 14:57:55 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nfr6lno&ht=tk&f=10875&a=16453181&app=typekit&e=css");

@font-face {
font-family:"din-condensed";
src:url("https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

.tk-din-condensed { font-family: "din-condensed",sans-serif; }




.outer-box {
  padding: 10px;
  height: 100%;
}
.inner-box {
  height: 100%;
}
.my-card {
  background: rgba(20,34,53, 0.58);
  /*border-radius: 2px;*/
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  border: 1px solid rgba(232, 78, 14, 0.38);
  padding: 6px 8px;
}]


/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-grid-pulse,
.la-ball-grid-pulse > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-grid-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-grid-pulse.la-dark {
    color: #333;
}
.la-ball-grid-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-grid-pulse {
    width: 36px;
    height: 36px;
}
.la-ball-grid-pulse > div {
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
    -webkit-animation-name: ball-grid-pulse;
       -moz-animation-name: ball-grid-pulse;
         -o-animation-name: ball-grid-pulse;
            animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.la-ball-grid-pulse > div:nth-child(1) {
    -webkit-animation-duration: .65s;
       -moz-animation-duration: .65s;
         -o-animation-duration: .65s;
            animation-duration: .65s;
    -webkit-animation-delay: .03s;
       -moz-animation-delay: .03s;
         -o-animation-delay: .03s;
            animation-delay: .03s;
}
.la-ball-grid-pulse > div:nth-child(2) {
    -webkit-animation-duration: 1.02s;
       -moz-animation-duration: 1.02s;
         -o-animation-duration: 1.02s;
            animation-duration: 1.02s;
    -webkit-animation-delay: .09s;
       -moz-animation-delay: .09s;
         -o-animation-delay: .09s;
            animation-delay: .09s;
}
.la-ball-grid-pulse > div:nth-child(3) {
    -webkit-animation-duration: 1.06s;
       -moz-animation-duration: 1.06s;
         -o-animation-duration: 1.06s;
            animation-duration: 1.06s;
    -webkit-animation-delay: -.69s;
       -moz-animation-delay: -.69s;
         -o-animation-delay: -.69s;
            animation-delay: -.69s;
}
.la-ball-grid-pulse > div:nth-child(4) {
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
         -o-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-delay: -.41s;
       -moz-animation-delay: -.41s;
         -o-animation-delay: -.41s;
            animation-delay: -.41s;
}
.la-ball-grid-pulse > div:nth-child(5) {
    -webkit-animation-duration: 1.6s;
       -moz-animation-duration: 1.6s;
         -o-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-delay: .04s;
       -moz-animation-delay: .04s;
         -o-animation-delay: .04s;
            animation-delay: .04s;
}
.la-ball-grid-pulse > div:nth-child(6) {
    -webkit-animation-duration: .84s;
       -moz-animation-duration: .84s;
         -o-animation-duration: .84s;
            animation-duration: .84s;
    -webkit-animation-delay: .07s;
       -moz-animation-delay: .07s;
         -o-animation-delay: .07s;
            animation-delay: .07s;
}
.la-ball-grid-pulse > div:nth-child(7) {
    -webkit-animation-duration: .68s;
       -moz-animation-duration: .68s;
         -o-animation-duration: .68s;
            animation-duration: .68s;
    -webkit-animation-delay: -.66s;
       -moz-animation-delay: -.66s;
         -o-animation-delay: -.66s;
            animation-delay: -.66s;
}
.la-ball-grid-pulse > div:nth-child(8) {
    -webkit-animation-duration: .93s;
       -moz-animation-duration: .93s;
         -o-animation-duration: .93s;
            animation-duration: .93s;
    -webkit-animation-delay: -.76s;
       -moz-animation-delay: -.76s;
         -o-animation-delay: -.76s;
            animation-delay: -.76s;
}
.la-ball-grid-pulse > div:nth-child(9) {
    -webkit-animation-duration: 1.24s;
       -moz-animation-duration: 1.24s;
         -o-animation-duration: 1.24s;
            animation-duration: 1.24s;
    -webkit-animation-delay: -.76s;
       -moz-animation-delay: -.76s;
         -o-animation-delay: -.76s;
            animation-delay: -.76s;
}
.la-ball-grid-pulse.la-sm {
    width: 18px;
    height: 18px;
}
.la-ball-grid-pulse.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 1px;
}
.la-ball-grid-pulse.la-2x {
    width: 72px;
    height: 72px;
}
.la-ball-grid-pulse.la-2x > div {
    width: 16px;
    height: 16px;
    margin: 4px;
}
.la-ball-grid-pulse.la-3x {
    width: 108px;
    height: 108px;
}
.la-ball-grid-pulse.la-3x > div {
    width: 24px;
    height: 24px;
    margin: 6px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        opacity: .35;
        -webkit-transform: scale(.45);
                transform: scale(.45);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
             transform: scale(1);
    }
    50% {
        opacity: .35;
        -moz-transform: scale(.45);
             transform: scale(.45);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -o-transform: scale(1);
           transform: scale(1);
    }
    50% {
        opacity: .35;
        -o-transform: scale(.45);
           transform: scale(.45);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-grid-pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    50% {
        opacity: .35;
        -webkit-transform: scale(.45);
           -moz-transform: scale(.45);
             -o-transform: scale(.45);
                transform: scale(.45);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}
